{
    "extends": "airbnb",
    "rules": {
      "func-names": ["error", "never"], 
      "indent": ["error", "tab"], 
      "no-tabs": "off", 
      "react/jsx-indent": ["error", "tab"], 
      "react/jsx-indent-props": ["error", "tab"], 
      "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
      "arrow-body-style": ["error", "always"] 
    }
}